@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";
$family-serif: "Exo",
sans-serif;
$family-primary: $family-serif;
$stone: #92c83e;
$stone-invert: findColorInvert($stone);
$stone2: #359967;
$stone2-invert: findColorInvert($stone2);
$link-invert: $stone-invert;
$link: $stone;
$addColors: ("stone":($stone, $stone-invert), "stone2":($stone2, $stone2-invert));
$colors: map-merge($colors, $addColors);

@import "overrides/tabs";
@import "~bulma";
